body {
    margin: 0;
    padding: 0;
    background-color: #3B69B7;
}

body .main {
    overflow: hidden;
    height: 78vh;
    width: 100vw;
}

body .main .title {
    position: absolute;
    top: 1rem;
    left: 5vw;
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 2px;
    color: #fff;
    opacity: .8;
    z-index: 1;
}

body .main .msg {
    position: absolute;
    top: 40%;
    right: 10vw;
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;
    opacity: 0;
    z-index: 1;
    width: 480px;
}

body .info {
    overflow: hidden;
    height: 22vh;
    width: 100%;
}

body .info .addr {
    margin-left: 10vw;
    width: 50%;
}

body .info .addr h2 {
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin: 2rem .25rem 1rem .25rem;
}

body .info .addr p {
    font-size: 12px;
    color: #fff;
    margin: .25rem 0;
}

body .map {
    display: block;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    height: 260px;
    width: 480px;
    z-index: 2;
}

body .map iframe {
    border: 0;
    border-radius: .5rem;
    height: 100%;
    width: 100%;
}

.masthead-arrow {
    position: absolute;
    top: 0;
    bottom: 20%;
    left: 0;
    right: -90%;
    margin: auto;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 30px;
    height: 30px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    opacity: 0.4;
    cursor: pointer;
    padding: .25rem;
}

.masthead-arrow.prev {
    left: -90%;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.hide {
    display: none!important;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    body .main .title {
        font-size: 36px;
        letter-spacing: 2px;
    }
    body .map {
        display: block;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    body .main .title {
        font-size: 36px;
        letter-spacing: 2px;
    }
    body .map {
        display: block;
        height: 260px;
        width: 380px;
    }
    .masthead-arrow {
        right: -95%;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    body .main .title {
        font-size: 36px;
        letter-spacing: 2px;
    }
    body .map {
        display: none;
    }
    body .info .addr {
        width: 80%;
    }
    .masthead-arrow {
        right: -85%;
    }
    .masthead-arrow.prev {
        left: -85%;
    }
}

@media all and (max-width: 480px) {
    body .main .title {
        font-size: 24px;
        letter-spacing: 2px;
    }
    body .map {
        display: none;
    }
    body .info .addr {
        width: 90%;
    }
    body .info .addr h2 {
        margin: 1rem .25rem;
    }
    .masthead-arrow {
        right: -80%;
    }
    .masthead-arrow.prev {
        left: -80%;
    }
}